/*////////////////////////////////////////////////////////////////////////
// Criacao...........: 06/2014
// Sistema...........: Loja Virtual
// Analistas.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Desenvolvedores...: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Copyright.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
////////////////////////////////////////////////////////////////////////*/

USE [MD]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grupo](
	[GrupoId] [int] IDENTITY(1,1) NOT NULL,
	[GrupoCodigo] [char](4) NULL,
	[GrupoDescricao] [nvarchar](255) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[GrupoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

GO
INSERT [dbo].[Grupo] ([GrupoId], [GrupoCodigo], [GrupoDescricao]) VALUES (1, N'0001', N'VESTUARIO')
GO
INSERT [dbo].[Grupo] ([GrupoId], [GrupoCodigo], [GrupoDescricao]) VALUES (2, N'0002', N'MEIAS')
GO
INSERT [dbo].[Grupo] ([GrupoId], [GrupoCodigo], [GrupoDescricao]) VALUES (3, N'0003', N'CALCADOS')
GO
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
