/*////////////////////////////////////////////////////////////////////////
// Criacao...........: 06/2014
// Sistema...........: Loja Virtual
// Analistas.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Desenvolvedores...: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Copyright.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
////////////////////////////////////////////////////////////////////////*/

USE [MD]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaCodigo] [char](4) NOT NULL,
	[CategoriaDescricao] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

GO
INSERT [dbo].[Categoria] ([CategoriaId], [CategoriaCodigo], [CategoriaDescricao]) VALUES (2, N'0005', N'BASKET')
GO
INSERT [dbo].[Categoria] ([CategoriaId], [CategoriaCodigo], [CategoriaDescricao]) VALUES (3, N'0010', N'FUTEBOL')
GO
INSERT [dbo].[Categoria] ([CategoriaId], [CategoriaCodigo], [CategoriaDescricao]) VALUES (4, N'0012', N'NAUTICA')
GO
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
