/*////////////////////////////////////////////////////////////////////////
// Criacao...........: 06/2014
// Sistema...........: Loja Virtual
// Analistas.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Desenvolvedores...: Marilene Esquiavoni & Denny Paulista Azevedo Filho
// Copyright.........: Marilene Esquiavoni & Denny Paulista Azevedo Filho
////////////////////////////////////////////////////////////////////////*/

USE [MD]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marca](
	[MarcaId] [int] IDENTITY(1,1) NOT NULL,
	[MarcaCodigo] [char](4) NOT NULL,
	[MarcaDescricao] [nvarchar](150) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

GO
INSERT [dbo].[Marca] ([MarcaId], [MarcaCodigo], [MarcaDescricao]) VALUES (1, N'0023', N'REALTEX')
GO
INSERT [dbo].[Marca] ([MarcaId], [MarcaCodigo], [MarcaDescricao]) VALUES (2, N'0024', N'VITORIA')
GO
INSERT [dbo].[Marca] ([MarcaId], [MarcaCodigo], [MarcaDescricao]) VALUES (3, N'0027', N'TENSOR')
GO
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
